<html><head>
    <title>Create New Records</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Add additional CSS and JS as needed -->
  </head>
  <body>
    <h2>Create New Objects</h2>

    <!-- Stat Form -->

    
<form class="ajax_form " id="stat_form" method="post" action="/database_app/create-object/" data-np-autofill-form-type="other" data-np-checked="1">
      <input type="hidden" name="csrfmiddlewaretoken" value="wcCGRPqfikoi1HZDX3nGltmL5xco2KcKtcZYEOZeSsxX3O2mjUliDxoJKu9GvRwH">
      <h3>Create Stat</h3>
      <p>
    <label for="id_stat_dropdown">Stat: :</label>
    <select name="stat_dropdown" class="dynamic-dropdown" type="dynamic-dropdown" id="id_stat_dropdown">
  <option value="0">New Stat</option>

  <option value="45">luck</option>

  <option value="46">strength</option>

  <option value="47">intelligence</option>

  </select>
  </p>
  <p>
    <label for="id_name">New Stat Name:</label>
    <input type="text" name="name" class="form-control" placeholder="Enter new Stat name" required="" id="id_name">
  </p>
  <p>
    <label for="id_description">Stat Description:</label>
    <textarea name="description" cols="40" rows="10" class="form-control" placeholder="Enter new Stat description" required="" id="id_description"></textarea>
      <input type="hidden" name="pk_id" id="id_pk_id"><input type="hidden" name="form_name" value="StatForm" id="id_form_name">
  </p>
      <button type="submit" name="StatForm">Submit Form One</button>
</form>


    <hr class="solid">
    <!-- Ability Form -->
    <form class="ajax_form " id="ability_form" method="post" action="/database_app/create-object/" data-np-autofill-form-type="other" data-np-checked="1">
      <input type="hidden" name="csrfmiddlewaretoken" value="wcCGRPqfikoi1HZDX3nGltmL5xco2KcKtcZYEOZeSsxX3O2mjUliDxoJKu9GvRwH">
      <h3>Create Ability</h3>
      <p>
    <label for="id_ability_dropdown">Ability: :</label>
    <select name="ability_dropdown" class="dynamic-dropdown" type="dynamic-dropdown" id="id_ability_dropdown">
  <option value="0">New Ability</option>

  <option value="1">heavy lifting</option>

  <option value="2">problem solving</option>

</select>
    
    
  </p>

  
  <p>
    <label for="id_name">Name:</label>
    <input type="text" name="name" maxlength="255" required="" id="id_name">
    
    
  </p>

  
  <p>
    <label for="id_description">Description:</label>
    <textarea name="description" cols="40" rows="10" required="" id="id_description"></textarea>
    
    
      <input type="hidden" name="pk_id" id="id_pk_id"><input type="hidden" name="form_name" value="AbilityForm" id="id_form_name">
    
  </p>
      <button type="submit" name="submit_ability">Create Ability</button>
    </form>
    <hr class="solid">
    <!-- Information Form -->
    <form class="ajax_form " id="information_form" method="post" action="/database_app/create-object/" data-np-autofill-form-type="identity" data-np-checked="1">
      <input type="hidden" name="csrfmiddlewaretoken" value="wcCGRPqfikoi1HZDX3nGltmL5xco2KcKtcZYEOZeSsxX3O2mjUliDxoJKu9GvRwH">
      <h3>Create Information</h3>
      <p>
    <label for="id_information_dropdown">Information: :</label>
    <select name="information_dropdown" class="dynamic-dropdown" type="dynamic-dropdown" id="id_information_dropdown">
  <option value="0">New Information</option>

  <option value="1">Location of a hidden supply cache....</option>

  <option value="2">Map of safe zones in the city....</option>

</select>
    
    
  </p>

  
  <p>
    <label for="id_name">Name:</label>
    <textarea name="name" cols="40" rows="10" required="" id="id_name" data-np-autofill-field-type="fullName"></textarea>
    
    
      <input type="hidden" name="pk_id" id="id_pk_id"><input type="hidden" name="form_name" value="InformationForm" id="id_form_name">
    
  </p>
      <button type="submit" name="submit_information">
        Create Information
      </button>
    </form>
    <hr class="solid">
    
    <!-- Character Form -->
    <form class="ajax_form " id="character_form" method="post" action="/database_app/create-object/" data-np-autofill-form-type="register" data-np-checked="1">
      <input type="hidden" name="csrfmiddlewaretoken" value="wcCGRPqfikoi1HZDX3nGltmL5xco2KcKtcZYEOZeSsxX3O2mjUliDxoJKu9GvRwH">
      <h3>Create Character</h3>
      <p>
    <label for="id_name_dropdown">Character Name:</label>
    <select name="name_dropdown" class="dynamic-dropdown" id="id_name_dropdown">
  <option value="0">New Character</option>

  <option value="1">Survivor Joe</option>

  <option value="2">Scavenger Sarah</option>

</select>
    
    
  </p>

  
  <p>
    <label for="id_name">New Character Name:</label>
    <input type="text" name="name" class="form-control" placeholder="Enter new character name" id="id_name" data-np-autofill-field-type="fullName">
    
    
  </p>

  
  <p>
    <label for="id_player">Player:</label>
    <select name="player" class="form-control" required="" id="id_player">
  <option value="" selected="">---------</option>

  <option value="1">player1</option>

  <option value="2">player2</option>

</select>
    
    
  </p>

  
  <p>
    <label>Known information:</label>
    </p><div id="id_known_information"><div>
    <label for="id_known_information_0"><input type="checkbox" name="known_information" value="1" id="id_known_information_0">
 Location of a hidden supply cache....</label>

</div><div>
    <label for="id_known_information_1"><input type="checkbox" name="known_information" value="2" id="id_known_information_1">
 Map of safe zones in the city....</label>

</div>
</div>
    
    
  <p></p>

  
  <p>
    <label for="id_dynamic_stat_luck">luck:</label>
    <input type="number" name="dynamic_stat_luck" step="0.01" id="id_dynamic_stat_luck">
    
    
  </p>

  
  <p>
    <label for="id_dynamic_stat_strength">strength:</label>
    <input type="number" name="dynamic_stat_strength" step="0.01" id="id_dynamic_stat_strength">
    
    
  </p>

  
  <p>
    <label for="id_dynamic_stat_intelligence">intelligence:</label>
    <input type="number" name="dynamic_stat_intelligence" step="0.01" id="id_dynamic_stat_intelligence">
    
    
  </p>

  
  <p>
    <label for="id_dynamic_ability_heavy-lifting">heavy lifting:</label>
    <input type="number" name="dynamic_ability_heavy-lifting" step="0.01" disabled="" id="id_dynamic_ability_heavy-lifting">
    
    
  </p>

  
  <p>
    <label for="id_dynamic_ability_problem-solving">problem solving:</label>
    <input type="number" name="dynamic_ability_problem-solving" step="0.01" disabled="" id="id_dynamic_ability_problem-solving">
    
    
      <input type="hidden" name="pk_id" id="id_pk_id"><input type="hidden" name="form_name" value="CharacterForm" id="id_form_name"><input type="hidden" name="required_fields" value="[&quot;player&quot;]" id="id_required_fields">
    
  </p>
      <button type="submit" name="submit_character">Create Character</button>
    </form>
    <hr class="solid">
    <!-- StatToAbility Form -->
    <form class="ajax_form stat_to_ability_form" id="stat_to_ability_form" method="post" action="/database_app/create-object/" data-np-autofill-form-type="other" data-np-checked="1">
      <input type="hidden" name="csrfmiddlewaretoken" value="wcCGRPqfikoi1HZDX3nGltmL5xco2KcKtcZYEOZeSsxX3O2mjUliDxoJKu9GvRwH">
      <h3>Create Stat to Ability</h3>
      <p>
    <label for="id_ability_dropdown">Ability: :</label>
    <select name="ability_dropdown" class="dynamic-dropdown" type="dynamic-dropdown" id="id_ability_dropdown">
  <option value="" selected="">---------</option>

  <option value="1">heavy lifting</option>

  <option value="2">problem solving</option>

</select>
    
    
  </p>

  
  <p>
    <label for="id_dynamic_stat_luck">luck:</label>
    <input type="number" name="dynamic_stat_luck" step="0.01" id="id_dynamic_stat_luck">
    
    
  </p>

  
  <p>
    <label for="id_dynamic_stat_strength">strength:</label>
    <input type="number" name="dynamic_stat_strength" step="0.01" id="id_dynamic_stat_strength">
    
    
  </p>

  
  <p>
    <label for="id_dynamic_stat_intelligence">intelligence:</label>
    <input type="number" name="dynamic_stat_intelligence" step="0.01" id="id_dynamic_stat_intelligence">
    
    
      <input type="hidden" name="pk_id" id="id_pk_id"><input type="hidden" name="form_name" value="StatToAbilityForm" id="id_form_name">
    
  </p>
      <button type="submit" name="submit_stat_to_ability">
        Create Stat to Ability
      </button>
    </form>
    <hr class="solid">
    

    <script src="/static/js/form_funcs.js"></script>
  

<script type="text/javascript" src="chrome-extension://fooolghllnmhmmndgjiamiiodkpenpbb/injectedPasswordless.js"></script></body></html>